
/*-------------  Blue   -------------*/
body.blue a {
	color: #3FA9C8;
}
body.blue #whiteIsland #left h1 {
	color: #3FA9C8;
}
body.blue #whiteIsland #right .buttons .buy, body.blue .last_chance .buy {
	text-shadow: 0 1px 1px #308098;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_blue.png) no-repeat;
}
body.blue #whiteIsland #banner {
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/banner_blue.png) no-repeat;
}
/*-------------  Green   -------------*/
body.green a {
	color: #85a439;
}
body.green #whiteIsland #left h1 {
	color: #9cc143;
}
body.green #whiteIsland #right .buttons .buy, body.green .last_chance .buy {
	text-shadow: 0 1px 1px #6c852e;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_green.png) no-repeat;
}
body.green #whiteIsland #banner {
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/banner_green.png) no-repeat;
}
/*-------------  Orange   -------------*/
body.orange a {
	color: #e96a31;
}
body.orange #whiteIsland #left h1 {
	color: #e96a31;
}
<!-- 1 Button -->
body.orange #whiteIsland #right .buttone .buy {
	text-shadow: 0 1px 1px #ad3a1a;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_orange.png) no-repeat;
}
body.orange #whiteIsland #right .buttone .buy20 {
	text-shadow: 0 1px 1px #ad3a1a;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_orange20.png) no-repeat;
}
body.orange #whiteIsland #right .buttone .buy45 {
	text-shadow: 0 1px 1px #ad3a1a;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_orange45.png) no-repeat;
}
body.orange #whiteIsland #right .buttone .buy-45 {
	text-shadow: 0 1px 1px #ad3a1a;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_orange140.png) no-repeat;
}
<!-- 2 Buttons -->
body.orange #whiteIsland #right .buttons .buy {
	text-shadow: 0 1px 1px #ad3a1a;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_orange.png) no-repeat;
}
body.orange #whiteIsland #right .buttons .buy0 {
	text-shadow: 0 1px 1px #ad3a1a;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_orange.png) no-repeat;
}
body.orange #whiteIsland #right .buttons .buy20 {
	text-shadow: 0 1px 1px #ad3a1a;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_orange.png) no-repeat;
}
body.orange #whiteIsland #right .buttons .buy-20 {
	text-shadow: 0 1px 1px #ad3a1a;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_orange.png) no-repeat;
}
body.orange #whiteIsland #right .buttons .buy45 {
	text-shadow: 0 1px 1px #ad3a1a;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_orange45.png) no-repeat;
}
body.orange #whiteIsland #right .buttons .buy-45 {
	text-shadow: 0 1px 1px #ad3a1a;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_orange45.png) no-repeat;
}
body.orange #whiteIsland #banner {
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/banner_orange.png) no-repeat;
}
body.orange #whiteIsland #banner5{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_5.png) no-repeat;
}
body.orange #whiteIsland #banner10{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_10.png) no-repeat;
}
body.orange #whiteIsland #banner15{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_15.png) no-repeat;
}
body.orange #whiteIsland #banner20{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_20.png) no-repeat;
}
body.orange #whiteIsland #banner25{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_25.png) no-repeat;
}
body.orange #whiteIsland #banner30{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_30.png) no-repeat;
}
body.orange #whiteIsland #banner35{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_35.png) no-repeat;
}
body.orange #whiteIsland #banner40{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_40.png) no-repeat;
}
body.orange #whiteIsland #banner45{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_45.png) no-repeat;
}
body.orange #whiteIsland #banner50{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_50.png) no-repeat;
}
body.orange #whiteIsland #banner55{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_55.png) no-repeat;
}
body.orange #whiteIsland #banner60{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_60.png) no-repeat;
}
body.orange #whiteIsland #banner65{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_65.png) no-repeat;
}
body.orange #whiteIsland #banner70{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_70.png) no-repeat;
}
body.orange #whiteIsland #banner75{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_75.png) no-repeat;
}
body.orange #whiteIsland #banner80{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_80.png) no-repeat;
}
body.orange #whiteIsland #banner85{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_85.png) no-repeat;
}
body.orange #whiteIsland #banner90{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_90.png) no-repeat;
}
body.orange #whiteIsland #banner95{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_95.png) no-repeat;
}
body.orange #whiteIsland #banner100{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_100.png) no-repeat;
}
body.orange #whiteIsland #banner105{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_105.png) no-repeat;
}
body.orange #whiteIsland #banner110{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_110.png) no-repeat;
}
body.orange #whiteIsland #banner115{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_115.png) no-repeat;
}
body.orange #whiteIsland #banner120{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_120.png) no-repeat;
}
body.orange #whiteIsland #banner125{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_125.png) no-repeat;
}
body.orange #whiteIsland #banner130{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_130.png) no-repeat;
}
body.orange #whiteIsland #banner135{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_135.png) no-repeat;
}
body.orange #whiteIsland #banner140{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_140.png) no-repeat;
}
body.orange #whiteIsland #banner145{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_145.png) no-repeat;
}
body.orange #whiteIsland #banner150{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_150.png) no-repeat;
}
body.orange #whiteIsland #banner155{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_155.png) no-repeat;
}
body.orange #whiteIsland #banner160{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_160.png) no-repeat;
}
body.orange #whiteIsland #banner165{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_165.png) no-repeat;
}
body.orange #whiteIsland #banner170{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_170.png) no-repeat;
}
body.orange #whiteIsland #banner175{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_175.png) no-repeat;
}
body.orange #whiteIsland #banner200{
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/bannerOrange_200.png) no-repeat;
}
/*-------------  Red   -------------*/
body.red a {
	color: #fc433a;
}
body.red #whiteIsland #left h1 {
	color: #fc433a;
}
body.red #whiteIsland #right .buttons .buy, body.red .last_chance .buy {
	text-shadow: 0 1px 1px #ad3a1a;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_red.png) no-repeat;
}
body.red #whiteIsland #banner {
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/banner_red.png) no-repeat;
}
/*-------------  Yellow   -------------*/
body.yellow a {
	color: #bea200;
}
body.yellow #whiteIsland #left h1 {
	color: #FFDA00;
}
body.yellow #whiteIsland #right .buttons .buy, body.yellow .last_chance .buy {
	text-shadow: 0 1px 1px #bda22d;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_yellow.png) no-repeat;
}
body.yellow #whiteIsland #banner {
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/banner_yellow.png) no-repeat;
}
/*-------------  Pink   -------------*/
body.pink a {
	color: #a83f71;
}
body.pink #whiteIsland #left h1 {
	color: #d34f8e;
}
body.pink #whiteIsland #right .buttons .buy, body.pink .last_chance .buy {
	text-shadow: 0 1px 1px #a83f71;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_pink.png) no-repeat;
}
body.pink #whiteIsland #banner {
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/banner_pink.png) no-repeat;
}
/*-------------  Purple   -------------*/
body.purple a {
	color: #8e3fca;
}
body.purple #whiteIsland #left h1 {
	color: #8e3fca;
}
body.purple #whiteIsland #right .buttons .buy, body.purple .last_chance .buy {
	text-shadow: 0 1px 1px #5d2984;
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/buy_purple.png) no-repeat;
}
body.purple #whiteIsland #banner {
	background: url(https://www.jadelearning.com/jadecc/registration/images/colorstyles/banner_purple.png) no-repeat;
}
/*------------- Misc -------------*/
body.blue a:hover, body.green a:hover, body.orange a:hover, body.red a:hover, body.yellow a:hover, body.pink a:hover, body.purple a:hover {
	color: #666;
}
