
.text-left {
    text-align: left;
}
.left {
    float: left;
}
.right {
    float: right;
}
.home-hero {
    position:relative;
    width: 100%;
    padding: 25px 0;
    border-bottom: 1px solid #e4e4e4;
    background: #f6f6f6;
    display: inline-block;
}
.home-hero img {
    height: auto;
    max-width: 100%;
}
.home-hero .container {
    position: relative;
    width: 100%;
    max-width: 940px;
    float: left;
    min-height: 360px;
    margin: 0 30px;
    background: url("../images/home-hero.jpg");
    box-shadow: inset 0 0 7px rgba(0,0,0,0.15);
    background-size: cover;
}
.home-hero .container .text-container {
    width: 100%;
    margin-right: 0px;
    text-align: center;
    padding: 60px 40px 0px 40px;
    box-sizing: border-box;
}
.home-hero .container .text-container h2 {
    color: #fff;
    font: 2.2em/1.2em "Arial", sans-serif;
    padding-top: 0px;
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.75);
}

.home-hero .container .text-container ul {
    margin: 0;
}
.home-hero .container .text-container li {
    color: #fff;
    font: 1.3em/1.1em "Arial", sans-serif;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.75);
    background: url('../images/list-arrow%402x.png') left center no-repeat;
    list-style: none;
    margin-left: 0px;
    padding-left: 15px;
    background-size: 6px 11px;
}
.home-hero .container .text-container p {
    color: #fff;
    font: 1.3em/1.3em "Arial", sans-serif;
    padding: 0px 40px 0px 40px;
    margin: 0px;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.75);

}

.home-hero .button, .registration-form .right-content .reg-form .button {
    background: #ff7513;
    text-transform: uppercase;
    color: #fff;
    min-width: 130px;
    height: 40px;
    margin: 20px auto;
    border-radius: 0;
    text-align: center;
    font: 1.3em/44px "Arial", sans-serif;
    font-weight: bold;
    border: 0px;
    box-shadow: none;
    display: inline-block;
    padding: 0 20px;
}
.home-hero .button:hover {
    background: #fc8e40;
}
.registration-form .right-content .reg-form .button {
    display: block;
}
.home-hero .container .text-container .sub-notice {
    text-transform: uppercase;
    color: #fff;
    clear: both;
    text-align: center;
    font:  1.1em/1.2em "Arial", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.75);
    display: block;
}

.lower-container {
    width: 100%;
    max-width: 940px;
    margin: 15px 30px 0px 30px;
    background: #007747;
    text-align: center;
    clear: both;
    float: left;
}

.lower-container.second-info-bar {
    background: #fff;
    border: 1px solid #007747;
    background-size: 50% !important;
    text-align: left;
}
.teaser-title {
    color: #007747;
}
.lower-container.second-info-bar.state-reg {
    box-sizing: border-box;
    margin: 0px 0px 20px 0px !important;
}
.lower-container.second-info-bar a {
    color: #007747;
    font-weight: bold;
}
.lower-container span {
    color: #fff;
    width: 100%;
    padding-left: 70px;
    font-weight: bold !important;
    font: 1.5em/60px "Arial", sans-serif;
}

.lower-container.second-info-bar span {
    color: #007747;
    text-align: left;
    padding-left: 30px;
    background: url('../images/rightarrow.svg') right center no-repeat;
    -webkit-background-size: 13px;
    background-size: 13px;
    padding-right: 23px;
}
.lower-container .button {
    display: inline-block;
    float: right;
    margin: 10px 10px 0px 0px;
}


.registration-form {
    padding: 0px 0px;
    width: 100%;
    float: left;
}
.registration-form .left-content {
    width: 60%;
    float: left;
    padding-right: 3%;
}
.registration-form .left-content p {
    font: 1.25em/1.7em "Arial", sans-serif;
    color: #000;
    margin-bottom: 25px;
}
.registration-form .left-content .minor-headline {
    border-top: 2px solid #000;
    background-size: 130px !important;
    border-bottom: 2px solid #000;
    width: auto;
    padding: 10px 0px 10px 150px;
    display: block;
    float: left;
    font-weight:bold !important;
    font: 1.6em/1.8rem "Arial", sans-serif;
    min-height: 80px;
    margin-bottom: 25px;
}

.registration-form .right-content {
    width: 37%;
    background: #007747;
    float: right;
    box-sizing: border-box;
    padding: 3%;
}
.registration-form .right-content h3 {
    width: 100%;
    background: #ff7513;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    margin: 0% auto 3% auto;
    border-radius: 0;
    text-align: center;
    font: 1.4em/40px "Arial", sans-serif;
    font-weight: bold;
    border: 0px;
    box-shadow: none;
    display: block;
}

.registration-form .right-content p, .registration-form .right-content label {
    color: #fff;
    font: 1em/1.3em "Arial", sans-serif;
    margin: 0px;
}
.registration-form .right-content p {
    text-align: center;
}

.registration-form .right-content label {
    padding: 10px 0 0 0;
}

.registration-form .right-content .reg-form {
    width: 100%;
    margin: 0px auto;

}
.registration-form .right-content .reg-form input {
    width: 100%;
    box-sizing: border-box;
}
.mobile {
    display: none;
}


#regform_msg {
    color: #FF7513;
}

#regform_msg a {
    color: #FF7513;
}

#regform_msg a:hover {
    color: gray;
}


.sub-info {
    padding: 20px;
    background-position: left 20px center !important;
    background-repeat: no-repeat !important;
    padding-left: 190px;
    background-color: #eee;
    -webkit-background-size: 150px;
    background-size: 140px;
    margin-bottom: 20px;
}
.sub-info h3 {
    margin:0;
    font-weight: bold;
    padding-bottom: 10px;
    color: #3f3f3f;
}
.sub-info p {
    font: 1.20em/1.3em "Arial", sans-serif;
    margin: 0;
    color: #3f3f3f;

}
.learn-more-link {
    float: right;
}
.registration-form ul {
    margin: 0;
    padding: 0;
}
.registration-form li {
    font-size: 16px;
    padding: 0 0 10px 0;
    margin: 0;
    color: #000;
    margin-left: 20px;
    line-height: 24px;

}
.testimonial-box {
    background: #eee url("../jadecc/registration/images/quotes.png?v=1") left 35px center no-repeat;
    width: 70%;
    padding: 20px;
    font-size: 16px;
    color: #000;
    box-sizing: border-box;
    margin: 0px auto 30px auto;
    background-size: 50px;
    float: none;
    clear: both;
    text-align: left;
    padding-left: 120px;
}
@media (max-width: 880px) {
    .registration-form .left-content {
        width: 100%;
        float: left;
    }
    .registration-form .right-content {
        width: 50%;
        margin: 0 auto;
        max-width: 375px;
        float: none;
        display: block;
        clear: both;
    }
    .lower-container {
        padding: 3% 15%;
        box-sizing: border-box;
    }
    .lower-container span {
        padding: 0px;
        font: 1.7em/1.8em "Arial", sans-serif;
    }
    .lower-container .button {
        display: block;
        clear: both;
        margin: 20px auto 0px auto;
        float: none;
        width: 200px;
    }
    .home-hero .container .text-container {
        padding: 10%;
    }
}
@media (max-width: 665px) {

    .sub-info {
        padding: 20px !important;
        background-image: none !important;
    }
    .registration-form .left-content {
        width: 100%;
        float: left;
    }
    .registration-form .right-content {
        width: 100%;
        margin: 0 auto;
        float: none;
        display: block;
        clear: both;
    }
    .home-hero .container .text-container {
        padding: 8%;
    }
    .home-hero .container .text-container h2 {
        text-align: center;
        color: #fff;
        font: 2.2em/1.2em "Arial", sans-serif;
        padding-top: 0px;
        margin-top: 0px;
        font-weight: bold;
        margin-bottom: 10px;
        text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.75);
    }
    .home-hero .container .text-container .button {
        float: none;
        margin: 20px auto;
    }
    .home-hero .container .text-container .sub-notice {
        text-align: center;
        width: 100%;
        clear: both;
        display: block;
    }
    .home-hero {
        padding: 0;
    }
    .home-hero .container {
        margin: 0;
        background: #007747;
    }
    .lower-container {
        margin: 15px 0px 0px 0px;
        padding: 8% 0.5%;

    }
    .mobile {
        display: block;
    }

    .lower-container.second-info-bar{
        background: none !important;
    }
    .lower-container.second-info-bar a {
        float: left;
        text-align: center;
        width:100%;
    }
}
