
/*----- Main wrapper -----*/
#wrapper  {
	margin: 30px auto;
	padding: 0 4px;
	overflow: hidden;
	-webkit-box-shadow: 0px 2px 4px #d0d0d0;
	-moz-box-shadow: 0px 2px 4px #d0d0d0;
	box-shadow: 0px 2px 4px #d0d0d0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
/*----- Sales pitch -----*/
#whiteIsland {
	float: left;
	font-size: 14px;
	position: relative;
	background: #fff;
	-webkit-box-shadow: 0px 2px 4px #d0d0d0;
	-moz-box-shadow: 0px 2px 4px #d0d0d0;
	box-shadow: 0px 2px 4px #d0d0d0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
/*----- Left whiteIsland -----*/
#whiteIsland #left {
	text-align:center;
}
#whiteIsland #left p.half_margin {
	margin: 0 0 10px 0;
	line-height: 1.6em;
}
/*----- Right whiteIsland -----*/
#whiteIsland #right {
	text-align:center;
}
#whiteIsland #right .buttons {
	float: left;
	background: url(https://www.jadelearning.com/jadecc/registration/images/or.png) no-repeat 200px 8px;
}
#whiteIsland #right .buttone {
	float: left;
}
<!-- 1 Button -->
/*----- Buy OG (155) button -----*/
#whiteIsland #right .buttone .buy, .last_chance .buy {
	width: 155px;
	height: 35px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0 5px 45px;
	margin: 0 98px 0 0;
	color: #fff;
}
/*----- Buy 20 button -----*/
#whiteIsland #right .buttone .buy0 {
	width: 165px;
	height: 35px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0 5px 45px;
	margin: 0 98px 0 0;
	color: #fff;
}
#whiteIsland #right .buttone .buy20 {
	width: 165px;
	height: 35px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0 5px 45px;
	margin: 0 98px 0 0;
	color: #fff;
}
#whiteIsland #right .buttone .buy-20 {
	width: 165px;
	height: 35px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0 5px 45px;
	margin: 0 98px 0 0;
	color: #fff;
}
/*----- Buy 45 button -----*/
#whiteIsland #right .buttone .buy45 {
	width: 200px;
	height: 35px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0 5px 45px;
	margin: 0 98px 0 0;
	color: #fff;
}
/*----- Buy -45 button -----*/
#whiteIsland #right .buttone .buy-45 {
	width: 400px;
	height: 35px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0 5px 45px;
	margin: 0 98px 0 100;
	color: #fff;
}
<!-- 2 Buttons -->
/*----- Buy OG (155) button -----*/
#whiteIsland #right .buttons .buy, .last_chance .buy {
	width: 155px;
	height: 35px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0 5px 45px;
	margin: 0 98px 0 0;
	color: #fff;
}
/*----- Buy 20 button -----*/
#whiteIsland #right .buttons .buy0 {
	width: 165px;
	height: 35px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0 5px 45px;
	margin: 0 98px 0 0;
	color: #fff;
}
#whiteIsland #right .buttons .buy20 {
	width: 165px;
	height: 35px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0 5px 45px;
	margin: 0 98px 0 0;
	color: #fff;
}

#whiteIsland #right .buttons .buy-20 {
	width: 165px;
	height: 35px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0 5px 45px;
	margin: 0 98px 0 0;
	color: #fff;
}
/*----- Buy 45 button -----*/
#whiteIsland #right .buttons .buy45 {
	width: 200px;
	height: 35px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0 5px 45px;
	margin: 0 98px 0 0;
	color: #fff;
}
/*----- Buy -45 button -----*/
#whiteIsland #right .buttons .buy-45 {
	width: 300px;
	height: 35px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0 5px 45px;
	margin: 0 98px 0 0;
	color: #fff;
}
/*----- Read more -----*/
#whiteIsland #right .buttons .more {
	float: left;
	margin: 13px 0 0 0;
	padding: 0 0 3px 0;
	font-size: 20px;
	font-style: italic;
	color: #a2a2a2;
	border-bottom: 1px dotted #eee;
}
#whiteIsland #right .buttons .more:hover {
	color: #666;
	border-bottom: 1px dotted #ccc;
}
/*----- Price banner -----*/
#whiteIsland #banner, #banner5, #banner10, #banner15, #banner20, #banner25, #banner30, #banner35, #banner40, #banner45, #banner50, #banner55, #banner60, #banner65, #banner70, #banner75, #banner80, #banner85, #banner90, #banner95, #banner100, #banner105, #banner110, #banner115, #banner120, #banner125, #banner130, #banner135, #banner140, #banner145, #banner150, #banner155, #banner160, #banner165, #banner170, #banner175, #banner200 {
	width: 145px;
	height: 147px;
	position: absolute;
	top: -4px;
	right: -4px;
	z-index:9900;
}
/*----- Checklist -----*/
ul.checklist {
	color: #222;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.checklist li {
	background: url(https://www.jadelearning.com/jadecc/registration/images/checklist_check.png) no-repeat 0 4px;
	float: left;
	line-height: 1.4em;
	padding-left: 24px;
	width: 250px;
	margin: 0 20px 15px 0;
}
ul.checklist li.right {
	margin: 0 0 15px 0;
}ul.checklist li.wide {
	width: 450px;
	margin: 0 0 15px 0;
}

ul.chekkies {
	color: #222;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.chekkies li {
	background: url(https://www.jadelearning.com/jadecc/registration/images/checklist_check.png) no-repeat 0 4px;
	line-height: 1.4em;
	padding-left: 24px;
	margin: 0 20px 15px 0;
}
ul.chekkies li.right {
	margin: 0 0 15px 0;
}ul.chekkies li.wide {
	margin: 0 0 15px 0;
}
